src/main/mule/implementations/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-pub-sub http://www.mulesoft.org/schema/mule/salesforce-pub-sub/current/mule-salesforce-pub-sub.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="033017fc-e4d6-4c52-b887-9cfb80a1c40b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="subscribeAccount" doc:id="8ed47316-1455-4928-ba83-04bc68b040b3" >
		<salesforce-pub-sub:subscribe-channel-listener doc:name="Subscribe channel listener Accounts" doc:id="fa12c285-10d9-4928-93f7-21a729a6bba7" config-ref="Salesforce_PubSub_Config" channelName="/event/Account_Platform_Event__e">
			<salesforce-pub-sub:replay-option >
				<salesforce-pub-sub:latest />
			</salesforce-pub-sub:replay-option>
		</salesforce-pub-sub:subscribe-channel-listener>
		<logger level="INFO" doc:name="Logger" doc:id="61ad6f32-e7ea-436c-a2f9-db30faee69f9" message="#[payload]"/>
		<ee:transform doc:name="event" doc:id="12b9679d-07fe-4fb7-8ab1-08cc7e85f0d3" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="event" ><![CDATA[%dw 2.0
output application/java
---
payload.Event.Type__c]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query-xml-stream doc:name="Query xml stream" doc:id="70d6b696-0f7f-4c46-843b-2029f2d9c8de" config-ref="Salesforce_Config_RSPoles" >
			<salesforce:salesforce-query ><![CDATA[SELECT 
  Id, Name,Segment__c, Type, Utility_Type__c, SolidWorks_Company_ID__c
FROM Account
where Id = ':SFid']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[%dw 2.0
output application/json
---
{
	SFid : payload.Event.Account_Id__c
}]]]></salesforce:parameters>
		</salesforce:query-xml-stream>
		<logger level="INFO" doc:name="Logger" doc:id="faabd029-14d4-414c-99ab-844fcfa546fb" message="#[payload]"/>
		<ee:transform doc:name="payload to json" doc:id="1863ae0f-08b1-40a4-8c3c-33fae7f3a45f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
			</ee:message>
			<ee:variables />
		</ee:transform>
		<ee:transform doc:name="payload to java" doc:id="60e15878-36ca-4be8-91d1-eec8914ef7af" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="id" ><![CDATA[%dw 2.0
output application/java
---
payload.payload.Id]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="80db9d33-273c-4cda-8f3c-227677688b16" message="#[payload]"/>
		<choice doc:name="Choice" doc:id="584d7716-668a-4b6d-8829-0261dc04310d" >
			<when expression='#[vars.event == "Create"]'>
				<logger level="INFO" doc:name="Logger" doc:id="8c8832e0-e2e4-4299-b8f8-267ea2ddc5e5" message="Create"/>
				<ee:transform doc:name="request create" doc:id="020233ba-36b1-40aa-9bd8-7b47112a3356" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "Name": payload.payload.records.Name,
  "Segment": payload.payload.records.Segment__c,
  "AccountType": payload.payload.records.Type,
  "UtilityType": payload.payload.records.Utility_Type__c,
  "SaleforceAccountId": payload.payload.records.Id,
  "CompanyId": payload.payload.records.SolidWorks_Company_ID__c
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="requestCompany" doc:id="4c7a5fc4-87be-479c-9bea-4381466a88e0" name="requestCompany"/>
				<logger level="INFO" doc:name="Logger" doc:id="595eb537-04ee-4900-aef3-694e1a2e4076" message="#[payload]"/>
			</when>
			<when expression='#[vars.event == "Edit"]'>
				<logger level="INFO" doc:name="Logger" doc:id="dda9af81-36a0-4cd5-a1a2-363c3235572e" message="Edit"/>
				<ee:transform doc:name="request edit" doc:id="9006225e-7bab-49d4-a2e4-d100e70bcb14">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "Name": payload.payload.records.Name,
  "Segment": payload.payload.records.Segment__c,
  "AccountType": payload.payload.records.Type,
  "UtilityType": payload.payload.records.Utility_Type__c,
  "SaleforceAccountId": payload.payload.records.Id,
  "CompanyId": payload.payload.records.SolidWorks_Company_ID__c
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="requestCompanyId" doc:id="57da6f51-c38d-4f51-8af8-b0b8e272875f" name="requestCompanyId"/>
				<logger level="INFO" doc:name="Logger" doc:id="10fcfbcf-075e-4372-8ec8-e4c3577a4a6d" message="#[payload]"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="b98918b0-d72f-4ac7-9db7-f17e74c81dfd" message="#[payload]"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="subscribeProyects" doc:id="ca3b2498-d77c-4a6b-a273-02aa57ce1e80" >
		<salesforce-pub-sub:subscribe-channel-listener doc:name="Subscribe channel listener Projects" doc:id="116ef90c-6653-4443-b85b-bcb195d2db8b" config-ref="Salesforce_PubSub_Config" channelName='/event/ESR_Platform_Event__e'>
			<salesforce-pub-sub:replay-option >
				<salesforce-pub-sub:latest />
			</salesforce-pub-sub:replay-option>
		</salesforce-pub-sub:subscribe-channel-listener>
		<salesforce:query-xml-stream doc:name="Query xml stream" doc:id="3192c29a-e1af-4867-99ba-58dbfd917f9c" config-ref="Salesforce_Config_RSPoles" >
			<salesforce:salesforce-query ><![CDATA[SELECT 
  Account__r.Name,CreatedById,CreatedDate,CurrencyIsoCode,Customer_Support_Rep__r.Name,Design_Lead__r.Name,Id,LastModifiedDate,Name,Opp__c,OwnerId,Progress__c,Project_Engineer__r.Name,Project_Status__c,Project_Title__c,Project_Type__c,Sales_Rep__r.Name,SolidWorks_Project_ID__c
FROM 
   ESR__c
where Id = ':SFid']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[%dw 2.0
output application/json
---
{
	SFid : payload.event.ESR_Id__c
}]]]></salesforce:parameters>
		</salesforce:query-xml-stream>
		<ee:transform doc:name="Transform Message" doc:id="8d4db868-2357-4277-a0fb-4feb296b7ff3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  Account: payload[0].payload.records.Account__r.Name,
  //CreatedBy: payload[0].payload.records.CreatedById,
  Currency: payload[0].payload.records.CurrencyIsoCode,
  CustomerSupportRep: payload[0].payload.records.Customer_Support_Rep__r.Name,
  DesignLead: payload[0].payload.records.Design_Lead__r.Name,
  ESRName: payload[0].payload.records.Name,
  //LastModifiedBy: payload[0].payload.records.LastModifiedById,
  //OppNumber: payload[0].payload.records.Opp__c,
  //Owner: payload[0].payload.records.OwnerId,
  //Progress: payload[0].payload.records.Progress__c,
  ProjectEngineer: payload[0].payload.records.Project_Engineer__r.Name,
  ProjectStatus: "",//payload[0].payload.records.Project_Status__c,
  //ProjectTitle: payload[0].payload.records.Project_Title__c,
  ProjectType: payload[0].payload.records.Project_Type__c,
  SalesRep: payload[0].payload.records.Sales_Rep__r.Name
  //SolidWorksProjectID: payload[0].payload.records.SolidWorks_Project_ID__c
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="requestProjects" doc:id="dc88ff74-d709-457b-af0b-21fbb09a9867" name="requestProjects"/>
	</flow>
	<sub-flow name="requestProjects" doc:id="5d939cd6-989a-4ae6-9e4f-c8da4e9ad9d6" >
		<logger level="INFO" doc:name="Logger" doc:id="c747efee-4af9-4e09-834a-a3ce46b4e5fb" message="#[payload]" />
		<http:request method="POST" doc:name="Request /api/projects" doc:id="0bb08248-8ca1-497a-baea-799965720a1d" config-ref="HTTPS_Request_configuration" path="/api/projects">
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="dfc7e059-6270-4ced-8fee-4d3b51f83e43" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="770e5ca6-bf01-4827-9017-6e75463073e4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
		<sub-flow name="requestCompany" doc:id="a604829d-d302-401e-a8d5-2e7e26412e12" >
		<logger level="INFO" doc:name="Logger" doc:id="ef8160f7-9fa1-4b65-9f33-addf2e7c60fa" message="#[payload]" />
		<http:request method="POST" doc:name="Request /api/company" doc:id="bdfc3454-0949-4d04-b57d-7b1dd631ceee" config-ref="HTTPS_Request_configuration" path="/api/company">
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="2af45f4e-fcce-4abf-bf2e-0ed51da2777b" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="49e97732-e4fa-490b-a9eb-880bf1067578">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
		<sub-flow name="requestCompanyId" doc:id="b4a8722e-4260-490a-8d43-dd2e2d969047" >
		<logger level="INFO" doc:name="Logger" doc:id="f387e288-9576-46a5-83d5-c93ba24cf8c8" message="#[payload]" />
		<http:request method="PUT" doc:name="Request /api/company/id" doc:id="6712fa2a-ab40-48cc-8e18-199f65627ee1" config-ref="HTTPS_Request_configuration" path="/api/company">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"companyId" : vars.id
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="5792b352-5822-49ef-99b3-3ccc30419dea" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="415f7ed8-5dd5-4e4c-a560-541254e9c8b6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>

	
	
	
	</mule>
