src/main/mule/implementations/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-pub-sub http://www.mulesoft.org/schema/mule/salesforce-pub-sub/current/mule-salesforce-pub-sub.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="033017fc-e4d6-4c52-b887-9cfb80a1c40b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mainFlow" doc:id="8748149b-98a6-4428-94a6-d42afc8537ec" >
		<http:listener doc:name="Listener" doc:id="9c23c167-0f69-4e6e-a60e-d428a88b85d4" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="6f402675-df57-40b5-a97a-e164d114ca40" />
	</flow>
	<flow name="subscribe" doc:id="ca3b2498-d77c-4a6b-a273-02aa57ce1e80" >
		<salesforce-pub-sub:subscribe-channel-listener doc:name="Subscribe channel listener" doc:id="116ef90c-6653-4443-b85b-bcb195d2db8b" config-ref="Salesforce_PubSub_Config" channelName='/event/ESR_Platform_Event__e'>
			<salesforce-pub-sub:replay-option >
				<salesforce-pub-sub:latest />
			</salesforce-pub-sub:replay-option>
		</salesforce-pub-sub:subscribe-channel-listener>
		<salesforce:query-xml-stream doc:name="Query xml stream" doc:id="3192c29a-e1af-4867-99ba-58dbfd917f9c" config-ref="Salesforce_Config_RSPoles" >
			<salesforce:salesforce-query ><![CDATA[SELECT 
  Account__r.Name,CreatedById,CreatedDate,CurrencyIsoCode,Customer_Support_Rep__r.Name,Design_Lead__r.Name,Id,LastModifiedDate,Name,Opp__c,OwnerId,Progress__c,Project_Engineer__r.Name,Project_Status__c,Project_Title__c,Project_Type__c,Sales_Rep__r.Name,SolidWorks_Project_ID__c
FROM 
   ESR__c
where Id = ':SFid']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[%dw 2.0
output application/json
---
{
	SFid : payload.event.ESR_Id__c
}]]]></salesforce:parameters>
		</salesforce:query-xml-stream>
		<ee:transform doc:name="Transform Message" doc:id="8d4db868-2357-4277-a0fb-4feb296b7ff3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  Account: payload[0].payload.records.Account__r.Name,
  //CreatedBy: payload[0].payload.records.CreatedById,
  Currency: payload[0].payload.records.CurrencyIsoCode,
  CustomerSupportRep: payload[0].payload.records.Customer_Support_Rep__r.Name,
  DesignLead: payload[0].payload.records.Design_Lead__r.Name,
  ESRName: payload[0].payload.records.Name,
  //LastModifiedBy: payload[0].payload.records.LastModifiedById,
  //OppNumber: payload[0].payload.records.Opp__c,
  //Owner: payload[0].payload.records.OwnerId,
  //Progress: payload[0].payload.records.Progress__c,
  ProjectEngineer: payload[0].payload.records.Project_Engineer__r.Name,
  ProjectStatus: "",//payload[0].payload.records.Project_Status__c,
  //ProjectTitle: payload[0].payload.records.Project_Title__c,
  ProjectType: payload[0].payload.records.Project_Type__c,
  SalesRep: payload[0].payload.records.Sales_Rep__r.Name
  //SolidWorksProjectID: payload[0].payload.records.SolidWorks_Project_ID__c
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<!-- [STUDIO:"mainSub_request"]<flow-ref doc:name="mainSub_request" doc:id="dc88ff74-d709-457b-af0b-21fbb09a9867" name="mainSub_request"/> [STUDIO] -->
	</flow>
	<sub-flow name="mainSub_request" doc:id="5d939cd6-989a-4ae6-9e4f-c8da4e9ad9d6" >
		<logger level="INFO" doc:name="Logger" doc:id="c747efee-4af9-4e09-834a-a3ce46b4e5fb" message="#[payload]" />
		<http:request method="POST" doc:name="Request" doc:id="0bb08248-8ca1-497a-baea-799965720a1d" config-ref="HTTPS_Request_configuration" path="/api/projects">
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="dfc7e059-6270-4ced-8fee-4d3b51f83e43" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="770e5ca6-bf01-4827-9017-6e75463073e4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>


	
	
	
	</mule>
